### Writing data to sql

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect("data.sqlite")

In [ ]:
df=pd.read_csv("../data_03.csv",sep="|")

In [ ]:
df.head(3)

In [ ]:
df.to_sql("data",con=con,if_exists="replace",index=False)
con.close()

In [ ]:
df = pd.read_sql_query("SELECT * from data", con)
con.close()

In [ ]:
df.columns

In [ ]:
df.rename(columns = {'Date':'date', 'Numac':'numac','Link NL':'link','nl_body':'nl_text','nltags':'nl_tags'}, inplace = True)

In [ ]:
df.drop(['Title','Link FR','fr_body'],axis=1,inplace=True)

In [ ]:
con2=sqlite3.connect("./btax/db.sqlite3")

In [ ]:
df.to_sql('taxtag_article',con=con2,if_exists="replace")

In [ ]:
con2.close()

In [ ]:
df.to_csv('data_tagged.csv',index=False,encoding='utf-8-sig')

In [ ]:
z=df["nl_body"].to_list()
z[0]

In [ ]:
df[['NL ','nltags']].head(20)
q=df['nltags'].to_list()
q

In [ ]:
#Delete German text
to_delete='De hierna volgende tekst is de Duitse vertaling'
#df.drop(df[df['nl_body'] < 50].index, inplace=True)

df=df[df["nl_body"].str.contains(to_delete)==False]